body {
    background-color: #dfdfdf;
}

#contenedor {
    font-size:1em;
    background-color: #ffffff;
    border:#d3d3d3 1px solid;
    text-align: justify;
    margin: 10px auto;
    width : 900px ;
    height: 650px ;
}

#encabezado {
    width: 900px;
    height: 150px;
    background : url('../imagenes/banner1.jpg') no-repeat ;
    border: #d3d3d3 1px solid ;
}

#encabezado h1 {
    text-align: center ;
    margin-top: 50px;
}

#contenido {
    border: #d3d3d3 1px solid ;
    margin: 20px 20px 10px;
    padding: 10px 15px;
}

#contenido h2 {
    color : #0075ff;
    border-bottom: #CFBFB5 1px solid;
}

#menu {
    float: left;
    width: 120px;
}

div#contenido {
    border: #d3d3d3 1px solid ;
    margin: 20px 20px 10px 180px;
    padding: 10px 15px;
}

#menu {
    float: left;
    width: 120px;
}

#menu li {
    border: #d3d3d3 3px solid;
    background-color: #0075ff;
    margin-bottom: 5px;
    font-size: 0.9em;
    text-align: center;
    line-height: 30px;
}

#menu a {
    display: block;
    text-decoration: none;
    color : #000000;
}

#menu li:hover {
    background-color: #7092be;
}

#menu li:activa,#menu li:hover {
    background-color: #7092be;
}

.boton{
    display: inline-block;
    padding: 6px 12px;
    background-color: #15c023;
    color: rgb(9, 23, 12);
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    margin-left: 200px;
}
.boton:hover {
    background-color: #685476;
}
.boton.a{
    margin-left: -0px;
}
.boton.rojo{
 background-color: #f02020;
  margin-left: -0px;

}
.boton.rojo:hover {
    background-color: #8b5858;
}
.table {
        border-collapse: collapse;
        width: 300px;
    }

.table, th, td {
        border: 1px solid rgba(0, 0, 0, 0.123);
    }

.th, td {
        padding: 5px;
        text-align: center;
    }

.th {
        background-color: #f2f2f2;
    }
.text_modi{
    text-align: center;
}